<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Películas
        link(rel='stylesheet', href='/css/style.css')
    body
        header
            h1(class="global") Films
        div(id="peliculas")
            - let i = 0;
            while i < Longitud
                div(class=`pelicula`)
                    h1=Resultados[i].Title
                    h2=Resultados[i].Year
                    h2=Resultados[i].imdbID
                    h2=Resultados[i].Type
                    img(src=Resultados[i++].Poster, alt="Imagen de la Película")     
        